body {
  text-align: center;
  padding: 100px;
}

.boxes {
  width: 100px;
  height: 100px;
  padding: 10px 0px 20px 50px;
  background-color: red;
  /*margin: auto;
  /*margin-left: 50px;*/
  /*overflow-y: auto;*/
}
.no-padding {
  padding:0;
}
#body {
  padding:200px;
}
