* {
  box-sizing: border-box;
}
.in_line {
  display: inline-block;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: -10px;
}
.headblock {
  position: absolute;
  top:0px
  background-color: black;
  background-image: url(https://unsplash.it/1000?random&blur);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 275px;
  text-align: center;
  color: white;
  font-size: 25px;
}
#headblock-text {
  padding-top: 75px;
}
.box {
  text-align: center;
  border: 1px solid grey;
  display: inline-block;
  width: 300px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: serif;

}
.topspace {
    margin-top: 300px;
    text-align: center;
}
ul {
  list-style-type: none;
  padding-left: 0px;

}
span {
  font-size: 70px;
}
li {
  border-bottom: 1px solid grey;
}
.insidebox {
  color: white;
}
.insidebox h4 {
  margin: 0;
}
#green {
  background-color: #4D9258;
}
#blue {
  background-color: #2D4A81;
}
#black {
  background-color: #111111;
}
button {
  background-color: white;
  border-radius:15%;
}
.text-columns {
  columns: 2;
  text-align: left;
  margin-left: 20px;
  padding: 30px;
}
.footblock {
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  padding-top: 40px
}
